<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
   <connectionStrings>
     <add name="data" connectionString="Data Source=DESKTOP-P1OOT5K\SQLEXPRESS;Initial Catalog=UserInfo;Integrated Security=True" providerName="System.Data.SqlClient" />
   </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>